{% extends "SmartAnnonceBundle::layout_categorie.html.twig" %}

{% block title %}SmartAnnonceBundle:Categorie:index{% endblock %}
{% block titre %}
<h1>Gestion Categorie</h1>
{% endblock %}
{% block page_body %}
    
            <table>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Intitulé </th>
                <th scope="col">etat</th>
                <th scope="col">action</th>
              </tr>
              {% for categorie in categories%}
               <tr class="tr">
               <td>{{categorie.id}}</td>
               <td>{{categorie.nom}}</td>
               {% if categorie.etat == 0 %}
               <td><img src="{{asset('img/rejected.png')}}" alt="" /></td>
               {% else %}
               <td><img src="{{asset('img/check.png')}}" alt="" /></td>
               {% endif %}
               <td>
                  <a href="{{path('edit_categorie',{'token':categorie.token})}}" class="">modifie</a>
                  <a href="#" id="{{categorie.id}}" class="supp" style="margin-left:20px;">supprimer</a>
                </td>
               </tr>
              {% endfor %}
              </table>

<script src="http://code.jquery.com/jquery-1.7.2.js" type="application/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script> 

<script type="text/javascript">
$(function() {


$(".supp").click(function(){
var element = $(this);
var info = element.attr("id");
var id_cat =  info;
 if(confirm("Supprimer cet categories ?"))
      {

 $.ajax({
   type: "POST",
   url: "/vetrine/web/app_dev.php/Admin/Categorie/delete",
   data: {'id': id_cat},
   dataType: 'json',
   success: function(){
   
   
   }
 });
    
$(this).parents(".tr").animate({ backgroundColor: "#fbc7c7" }, "fast")
    .animate({ opacity: "hide" }, "slow");
 }

return false;

});

});
</script>
       
{% endblock %}
