{% extends "::layout_front.html.twig" %}

{% block title %}SmartAnnonceBundle:Categorie:index{% endblock %}


{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/jquery-1.7.js') }}"></script>
<script src="{{ asset('js/jquery.js') }}" type="text/javascript"></script>
<script type="text/javascript" src="{{ asset('js/jquery.bxSlider.min.js') }}" ></script>

<script type="text/javascript" src="{{ asset('js/bxSlider.js') }}" ></script>
<script type="text/javascript" src="{{ asset('js/nav.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/map.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery.selectBox.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/zoombox.js') }}"></script>


<script type="text/javascript">
// thread id
var fos_comment_thread_id = 'foo';
 
// api base url to use for initial requests
var fos_comment_thread_api_base_url = 'vetrine/web/app_dev.php/api/threads';
 
// Snippet for asynchronously loading the comments
(function() {
    var fos_comment_script = document.createElement('script');
    fos_comment_script.async = true;
    fos_comment_script.src = 'vetrine/web/app_dev.php/js/35a8e64_comments_1.js';
    fos_comment_script.type = 'text/javascript';
 
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(fos_comment_script);
})();
</script>

<script type="text/javascript">
  $(document).ready( function() {
    $("SELECT").selectBox();
  });
</script>
{% endblock %}


{% block body %}


{% block titre%}

{% endblock %}


{% block page_body %}
<div id="fos_comment_thread"></div>

 




{% endblock %}


{% endblock %}
